body {
  min-width:        1200px;
  background-color: #f4f4f4;
  font:             13px "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
}

h1 {
  font-size: 20px;
}

h1 small {
  font-size: 18px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

.container {
  height: 100%;
}

.well {
  padding: 10px;
}

.boxed {
  width: 800px;
}

.boxed h3, .boxed p {
  margin:  0;
  padding: 0;
}

.alerts, .breadcrumb {
  width: 800px;
}

.breadcrumb {
  background-color: #ccc;
}

span.divider {
  color: #000 !important;
}

.cushion {
  padding: 10px;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding:    10px;
}

.navbar-inverse #sidekick-header {
  background: #32393d; /* Old browsers */
  background: -moz-linear-gradient(top, #32393d 1%, #262b2e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #32393d), color-stop(100%, #262b2e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #32393d 1%, #262b2e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #32393d 1%, #262b2e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #32393d 1%, #262b2e 100%); /* IE10+ */
  background: linear-gradient(to bottom, #32393d 1%, #262b2e 100%); /* W3C */
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#32393d', endColorstr='#262b2e', GradientType=0); /* IE6-9 */
  color:      #FFF;
}

#sidekick-header .navbar-text {
  line-height: 42px;
}

#sidekick-header li {
  line-height: 22px;
}

.navbar-inverse #sidekick-header .nav .active > a,
.navbar-inverse #sidekick-header .nav .active > a:hover,
.navbar-inverse #sidekick-header .nav .active > a:focus {
  background-color: #464646;
}

.navbar-inverse #sidekick-header .nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.navbar-inverse #sidekick-header ul.dropdown-menu {
  top: 40px;
  margin: 2px 5px 0;
}

#sidekick-page {
  width:  1200px;
  margin: 42px auto 0 auto;
}

.nav-tabs {
  width: 100%;
}

.nav-tabs li.active {
  font-weight: bold;
}

#sidebar {
  padding-top: 10px;
  width:       200px;
  float:       left;
}

#sidekick-content {
  background-color: #fff;
  border:           1px solid #C7C7C7;
  border-top:       0;
  width:            960px;
  padding:          10px 15px 10px 25px;
  margin-left:      200px;
}

#content {
  overflow: hidden;
}

#sidebar .nav-tabs {
  border-right: 1px solid #C7C7C7;
}

#sidebar .tabs-left > .nav-tabs > li > a:hover,
#sidebar .tabs-left > .nav-tabs > li > a:focus {
  border-color: transparent;
  background:   transparent;
  border-right: 1px solid #C7C7C7;
}

#sidebar .tabs-left > .nav-tabs .active > a,
#sidebar .tabs-left > .nav-tabs .active > a:hover,
#sidebar .tabs-left > .nav-tabs .active > a:focus {
  border-color:        #C7C7C7 transparent #C7C7C7 #C7C7C7;
  *border-right-color: #ffffff;
  background:          #FFFFFF;
}

#sidebar .nav-tabs > li > a {
  line-height: normal;
}

#sidebar hr {
  margin:  0;
  padding: 0;
}

code.pre {
  overflow-wrap: normal;
  white-space:   pre;
  display:       block;
}

code.console {
  height:           300px;
  display:          block;
  padding:          10px;
  color:            #fff;
  background-color: #000;
  overflow:         scroll;
}

.console .command-title {
  margin-top:    10px;
  padding:       0;
  margin-bottom: 0;
  font-size:     13px;
  font-weight:   bold;
}

.console command {
  padding: 0;
  margin:  0;
}

.console .line {
  margin-bottom: 2px;
}

.console .line:hover {
  background-color: #333;
}

.console .error-bg {
  background-color: red;
}

.console .error-text {
  color: red;
}

.console .running-text {
  color: #ade0ef;
}

.console .command-title .control {
  background-color: #222;
  border-radius:    10px;
  width:            7px;
  height:           8px;
  display:          inline-block;
  text-align:       center;
  line-height:      8px;
  overflow:         hidden;
  padding:          1px 2px;
  color:            #fff;
  border:           1px solid #111;
}
